.loginContainer {
    /* margin: auto; */
    padding-left: 40%;
    padding-top: 5%;
    /* border: 2px solid red; */
}

input{
    padding: 2%;
    width: 32.5%;
}

.LoginButton{
    padding: 1%;
    width: 37%;
    border: transparent;
    background-color:#B4FF9F;
    color: #FFA1A1;
    font-weight: bolder;
    font-size: larger;
}

.NavDiv{
    /* border: 2px solid red; */
    background-color: #FFA1A1;
}