.loginContainer {
    /* margin: auto; */
    padding-left: 40%;
    padding-top: 5%;
    /* border: 2px solid red; */
}

input{
    padding: 2%;
    width: 32.5%;
}

.LoginButton{
    padding: 1%;
    width: 37%;
    border: transparent;
    background-color:#EEB0B0;
    color: #7D1E6A;
    font-weight: bolder;
    font-size: larger;
}

.NavDiv{
    /* border: 2px solid red; */
    background-color: #BDE6F1;
    color: #FFE59D;
}
h1{
    color: #7D1E6A;
}